In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
plt.figure(figsize=(8,5))
sns.boxplot(x='class',y='age',data=titanic, palette='rainbow')
plt.title("Age by Passenger Class, Titanic")

In [ ]:
plt.figure(figsize=(10,6))
sns.violinplot(x='class',y="age",data=titanic, hue='sex', palette='rainbow')
plt.title("Violin Plot of Age by Class, Separated by Sex")

In [ ]:
plt.figure(figsize=(10,6))
sns.violinplot(x='class',y="age",data=titanic, hue='sex', split='True', palette='rainbow')
plt.title("Violin Plot of Age by Class, Separated by Sex")

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='embark_town',y='fare',data=titanic, palette='rainbow')
plt.title("Fare of Passenger by Embarked Town")

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='embark_town',y='fare',data=titanic, palette='rainbow', hue='class')
plt.title("Fare of Passenger by Embarked Town, Divided by Class")

In [ ]:
plt.figure(figsize=(8,5))
sns.pointplot(x='embark_town',y='fare',data=titanic)
plt.title("Average Fare Price by Embarked Town")

In [ ]:
plt.figure(figsize=(8,5))
sns.pointplot(x='embark_town',y='fare',data=titanic, hue='class')
plt.title("Average Fare Price by Embarked Town, Separated by Sex")

In [ ]:
plt.figure(figsize=(8,5))
sns.countplot(x='embark_town',data=titanic, palette='rainbow',hue='sex')
plt.title("Count of Passengers that Embarked in Each City, Separated by Sex")

In [ ]:
plt.figure(figsize=(12,8))
sns.stripplot(x='class', y='age', data=titanic, jitter=True, hue='alive', dodge=True, palette='viridis')
# Strip plots get a special mention as conveying interesting details about categorical data when the number of 
# points are small enough that correlations are not hidden by aggregation.

In [ ]:
plt.figure(figsize=(10,7))
sns.swarmplot(x='class', y='age', data=titanic, hue='alive', dodge=True, palette='viridis')
plt.title("Age by Passenger Class, Separated by Survival")

In [ ]:
# Super cool, you can overlay a swarm plot on top of another plot to enhance the understanding/visual impact of the other 
# categorical plot.
plt.figure(figsize=(12,8))
sns.violinplot(x='class',y="age", data=titanic, hue='survived', split='True', palette='rainbow')
sns.swarmplot(x='class',y="age", data=titanic, hue='survived', dodge='True', color='grey', alpha=.8, s=4)
plt.title("Age by Passenger Class, Separated by Survival")

In [ ]:
g = sns.catplot(x='class',y='survived', col = 'who', data=titanic,
                kind='bar', aspect=.6, palette='Set2')
(g.set_axis_labels("Class", "Survival Rate")
  .set_titles("{col_name}")
  .set(ylim=(0,1)))
plt.tight_layout()